In [1]:
import numpy as np 
import pandas as pd 
pd.set_option('display.float_format', lambda x: '%.3f' % x)
import csv
import copy 

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score
from scipy.stats import boxcox

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Data Preparation & Preprocessing

### <u> (0) Converting data (from txt to CSV)</u>
Because it takes long, I do not recommend running this snippet. <br>
converted.csv, which is the output from the following snippet, is already in data folder.

In [ ]:
with open('data/Medicare_Provider_Util_Payment_PUF_CY2017/Medicare_Provider_Util_Payment_PUF_CY2017.txt', newline = '') as source_csv:                                                                                          
    csv_reader = csv.reader(source_csv, delimiter='\t')
    with open("data/converted.csv", 'a') as out_csv:  # converted data will be saved as "data.csv"
        csv_writer = csv.writer(out_csv, delimiter=',', quoting=csv.QUOTE_MINIMAL, lineterminator='\n')
        for each_line in csv_reader:
            csv_writer.writerow(each_line)

### <u> (1) Filtering data by country and entity_code</u>
I limited the analysis to individual service providers in U.S. This prevents unintentional external factors from affecting the analysis.

In [2]:
data = pd.read_csv("data/converted.csv")
data.shape # Original data has 9,847,443 samples with 26 columns/ The first row is excluded because it is irrelevant

/Users/junhwalee/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(9847444, 26)

In [3]:
data.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
0,1,CPT copyright 2016 American Medical Associatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care discharge,N,100.000,96.000,100.000,73.399,325.780,56.827,57.492
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99218,Hospital observation care typically 30 minutes,N,26.000,25.000,26.000,100.080,449.000,78.460,79.306
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99219,Hospital observation care typically 50 minutes,N,52.000,51.000,52.000,136.380,614.000,102.808,103.895
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99220,Hospital observation care typically 70 minutes...,N,59.000,59.000,59.000,190.364,755.932,141.294,142.866

In [4]:
# Filtering only individual service provider
data = data[data["nppes_entity_code"] == "I"]
# Filtering only service provider in the United States
data = data[data["nppes_provider_country"] == "US"]
# Dropping duplicates if there are duplicates
data = data.drop_duplicates(subset=None, keep="first", inplace=False).reset_index(drop=True)

In [5]:
data.shape # Applying two filters above ended up with 9,415,529 samples with 26 columns

(9415529, 26)

Then I classified categorical columns & numerical columns.
After that, each column is converted to appropriate data type for further preprocessing.

In [6]:
categorical = ['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_state', 'nppes_provider_zip',
       'nppes_provider_country', 'provider_type',
       'medicare_participation_indicator', 'place_of_service', 'hcpcs_code',
       'hcpcs_description', 'hcpcs_drug_indicator']
for cat_column in categorical:
    data[cat_column] = data[cat_column].astype("str")
    
numerical = ['line_srvc_cnt','bene_unique_cnt', 'bene_day_srvc_cnt',
             'average_Medicare_allowed_amt', 'average_submitted_chrg_amt', 
             'average_Medicare_payment_amt', 'average_Medicare_standard_amt']
for num_column in numerical: 
    data[num_column] = data[num_column].astype('float')

### <u> (2) Creating three new columns</u>

I created two new columns for further usage. <br> 

<b> medicare_perc </b> <br>
Proportion that (Medicare paid after deductible and coinsurance amounts have been deducted) out of (total charges that the provider submitted for the service). That is, it represents the proportion of Medicare actually covered out of total charges. By nature, it should be in between 0 and 1 because average_Medicare_payment_amt <= average_submitted_chrg_amt.

In [7]:
data["medicare_perc"] = data["average_Medicare_standard_amt"]/data["average_submitted_chrg_amt"]
numerical.append("medicare_perc")

<b> medicare_perc_allowed </b> <br>
Proportion that (Medicare paid after deductible and coinsurance amounts have been deducted) out of (the amount that Medicare is allowed for the service). That is, it represents the proportion of Medicare actually covered out of max amount. By nature, it should be in between 0 and 1 because average_Medicare_standard_amt <= average_Medicare_allowed_amt.

In [8]:
data["medicare_perc_allowed"] = data["average_Medicare_standard_amt"]/data["average_Medicare_allowed_amt"]
numerical.append("medicare_perc_allowed")

<b> diff_submitted_minus_Medicare_paid </b> <br>
Difference between (Medicare paid after deductible and coinsurance amounts have been deducted) and (total charges that the provider submitted for the service). That is, it represents the amount that was not convered by Medicare. By nature, it should be greater than or equal to 0 because average_Medicare_payment_amt <= average_submitted_chrg_amt.

In [9]:
# data["diff_submitted_minus_Medicare_paid"] = data["average_submitted_chrg_amt"] - data["average_Medicare_payment_amt"]
# numerical.append("diff_submitted_minus_Medicare_paid")
# data = data[data["diff_submitted_minus_Medicare_paid"] >= 0]

### <u> (3) Aggregating by npi</u>
For each npi, I chose the sample that had the least coverage from Medicare (lowest medicare_perc). This is the decision to have one row for each unique npi and ultimately find service providers that are outliers.

In [ ]:
data = data.loc[data.groupby(["npi"])["medicare_perc"].idxmin()]  
data.shape

### <u> (4) Filtering data by state</u>
To remove the effect of being in different states on my analysis, I decided to choose one state that I would work with. Based on the assumption that higher variablility in "medicare_perc" means the higher likelihood of the existence of outliers, I chose "WI."

In [ ]:
grouping = "nppes_provider_state"
grouped_by_state = pd.DataFrame()
grouped_by_state["mean"] = data.groupby(grouping)["medicare_perc"].mean()
grouped_by_state["std"] = data.groupby(grouping)["medicare_perc"].std()
grouped_by_state["count"] = data.groupby(grouping)["medicare_perc"].count()
grouped_by_state["std/mean"] = summary["std"]/summary["mean"]
grouped_by_state.sort_values("std/mean", ascending = False).head(10)

In [ ]:
data = data[data["nppes_provider_state"] == "WI"].reset_index(drop = True)
data.shape # ended up with 20,955 rows and 28 columns

In [ ]:
data.to_csv("data/filtered.csv", index = False) # filtered data with additional column is saved as "filtered.csv"

# Exploratory Data Analysis (EDA)

### <u> (1) Checking unique values of each column</u>

In [ ]:
data = pd.read_csv("data/filtered.csv")
data[numerical].describe()

In [ ]:
data.nunique()

There are 3,931 zip codes. However, that number is way higher than 709 zip codes that Wisconsin has.

In [ ]:
data["nppes_provider_zip"].head(10) # The problem is that there are extra numbers following the first 5 digit letters.

In [ ]:
data["nppes_provider_zip"] = data["nppes_provider_zip"].astype("str").str[:5] # subsetting first 5 digits
data["nppes_provider_zip"].nunique() # There are now 462 zip codes, which is more reasonable

### <u> (2) Checking distribution of each numerical column with box-and-whisker plot </u>

In [ ]:
plt.rcParams['figure.figsize'] = [20, 12]
for pos, val in enumerate(numerical): 
    plt.subplot(3, 3, pos+1)
    data[numerical].boxplot(column = val)
    plt.title(val)
plt.savefig('img/box_and_whisker.png')
plt.show()

In [ ]:
# plt.rcParams['figure.figsize'] = [20, 12]
# for pos, val in enumerate(numerical): 
#     plt.subplot(3, 4, pos+1)
#     data[numerical].boxplot(column = val)
#     plt.title(val)
# plt.show()

### <u> (3) Checking correlation between numerical columns </u>

In [ ]:
correlations = data[numerical].corr(method ='pearson')
correlations

In [ ]:
# plot correlation matrix
f, ax = plt.subplots(figsize=(12, 6))
heatmap = sns.heatmap(correlations, mask=np.zeros_like(correlations, dtype=np.bool),
            cmap="YlGnBu",
            square=True, ax=ax)
f.savefig("img/heatmap_pearson.png", bbox_inches="tight")

In [ ]:
data[numerical].corr(method ='spearman')

### <u> (4) Transfomring each numerical column</u>

In [ ]:
plt.rcParams['figure.figsize'] = [20, 12]
for pos, val in enumerate(numerical): 
    plt.subplot(3, 3, pos+1)
    data[val].hist()
    plt.title(val)
plt.savefig('img/distribution_before_transformation.png')
plt.show()

In [ ]:
data_new = copy.deepcopy(data)
plt.rcParams['figure.figsize'] = [20, 12]
for pos, val in enumerate(numerical): 
    plt.subplot(3, 3, pos+1)
    data_new[val],lmbda = boxcox(data_new[val]+0.001, lmbda = None)
    print(val+ "\'s lambda: %0.3f" % lmbda)
    data_new[val].hist()
    plt.title(val)
plt.savefig('img/distribution_after_transformation.png')
plt.show()

data_new[numerical].describe()

# Clustering (K-means)

### <u> 1. Selecting columns for clustering & one-hot encoding</u>

In [ ]:
selected_categorical = ['nppes_provider_gender','nppes_entity_code', 
       'medicare_participation_indicator', 'place_of_service','hcpcs_drug_indicator']
selected_numerical = ["bene_day_srvc_cnt", "bene_unique_cnt", "average_Medicare_allowed_amt"]
features = data_new[selected_categorical + selected_numerical]
for i in selected_categorical:
    dummies = pd.get_dummies(features[i], prefix = i)
    features = pd.concat([features, dummies], axis = 1)
    del features[i]
features.head()

In [ ]:
features.describe()

### <u> 2. Normalizing every column</u>

In [ ]:
scaler = StandardScaler()
dfNorm = scaler.fit_transform(features)
dfNorm = pd.DataFrame(dfNorm)
dfNorm.describe()

### <u> 3. Finding appropriate K</u>

In [ ]:
inertia = []
silh = []
K = range(2,20)
for k in K:
    kmeans = KMeans(n_clusters = k, random_state = 1).fit(dfNorm)
    inertia.append(kmeans.inertia_)
    silhouette_avg = silhouette_score(dfNorm, kmeans.labels_)
    silh.append(silhouette_avg)

In [ ]:
plt.rcParams['figure.figsize'] = [10, 6]
plt.plot(K, inertia, 'bo-')
plt.xlabel('k')
plt.ylabel('Inertia')
plt.title('Scree plot')
plt.savefig('img/scree_plot.png')
plt.show()

In [ ]:
plt.rcParams['figure.figsize'] = [10, 6]
plt.plot(K, silh, 'bo-')
plt.xlabel('k')
plt.ylabel('Silhouette score')
plt.title('Silhouette score')
plt.savefig('img/silhoutte_score.png')
plt.show()

### <u> 4. Clustering with chosen K</u>

In [ ]:
selected = 6
kmeans = KMeans(n_clusters = selected, random_state = 1).fit(dfNorm)
k_means_labels = kmeans.labels_
for i in range(selected):
    print(i)
    print(list(k_means_labels).count(i))
    print("====")

In [ ]:
data["Cluster"] = k_means_labels

In [ ]:
data.to_csv("added.csv")